<span class="font-semibold text-2xl" *ngIf="(user$ | async) as user">Hi {{ user.firstName }},</span>
<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <section>
        <span class="text-xl font font-semibold font-inter">Personal Information</span>
        <section class="flex flex-col pl-2">
            <span class="font-medium">Full name: <span class="font-normal">{{ personalInformation.personalInformation.fullName }}</span></span>
            <span class="font-medium">Date of Birth: <span class="font-normal">{{ personalInformation.personalInformation.dateOfBirth | dateFormat }}</span></span>
            <span class="font-medium">Gender: <span class="font-normal">{{ personalInformation.personalInformation.gender }}</span></span>
            <span class="font-medium">Age: <span class="font-normal">{{ personalInformation.personalInformation.age }}</span></span>
            <span class="font-medium">Address: <span class="font-normal">{{ personalInformation.personalInformation.address }}</span></span>
            <span class="font-medium">Phone Number: <span class="font-normal">{{ personalInformation.personalInformation.phoneNumber }}</span></span>
        </section>
    </section>
    <section>
        <span class="text-xl font font-semibold font-inter">Medical History</span>
        <section class="flex flex-col pl-2">
            <section>
                <span class="font-medium">Past medical conditions: <span class="font-normal" *ngIf="personalInformation.medicalHistory.pastMedicalConditions.length === 0">None</span></span>
                @if((personalInformation.medicalHistory.pastMedicalConditions.length) > 0) {
                    <ul class="list-decimal pl-6">
                        @for (item of personalInformation.medicalHistory.pastMedicalConditions; track $index) {
                            <li>{{ item }}</li>
                        }
                    </ul>
                }
            </section>
            <section>
                <span class="font-medium">Current Medications: <span class="font-normal" *ngIf="personalInformation.medicalHistory.currentMedications.length === 0">None</span></span>
                @if((personalInformation.medicalHistory.currentMedications.length) > 0) {
                    <ul class="list-decimal pl-6">
                        @for (item of personalInformation.medicalHistory.currentMedications; track $index) {
                            <li>{{ item }}</li>
                        }
                    </ul>
                }
            </section>
            <section>
                <span class="font-medium">Allergies: <span class="font-normal" *ngIf="personalInformation.medicalHistory.allergies.length === 0">None</span></span>
                @if((personalInformation.medicalHistory.allergies.length) > 0) {
                    <ul class="list-decimal pl-6">
                        @for (item of personalInformation.medicalHistory.allergies; track $index) {
                            <li>{{ item }}</li>
                        }
                    </ul>
                }
            </section>
        </section>
    </section>
    <section>
        <span class="text-xl font font-semibold font-inter">Vital Signs</span>
        <section class="flex flex-col pl-2">
            <span class="font-medium">Blood pressure: <span class="font-normal">{{ personalInformation.vitalSigns.bloodPressure }}</span></span>
            <span class="font-medium">Tempereature: <span class="font-normal">{{ personalInformation.vitalSigns.temperature }}</span></span>
            <span class="font-medium">Heart rate: <span class="font-normal">{{ personalInformation.vitalSigns.heartRate }}</span></span>
            <span class="font-medium">Weight: <span class="font-normal">{{ personalInformation.vitalSigns.weight }}kg</span></span>
        </section>
    </section>
</section>