<span class="text-2xl font-medium block" *ngIf="!isDashboard">Dr {{ getFirstLetter(doctorSchedule.doctorFirstName) }}. {{ doctorSchedule.doctorLastName }}'s Schedule for the next 7 days</span>
<button (click)="chatDoctor(doctorSchedule)" *ngIf="!isDashboard && this.doctorSchedule.doctorID !== this.booker.uid" class="text-white font-semibold font-mullish text-xs bg-greyscale-9 rounded-md p-2 my-2 border border-greyscale-12 hover:italic block">Chat with Dr.</button>
<span [ngClass]="isDashboard ? 'pb-5' : ''" class="text-2xl font-medium block" *ngIf="isDashboard">Your Schedule for the next 7 days</span>
<section *ngIf="doctorSchedule" class="max-w-full overflow-x-auto">
    <table class="w-full border-collapse mb-6">
        <thead>
        <tr>
            <th class="border p-2">Time</th>
            <th class="border p-2" *ngFor="let day of businessDays">{{ day | date: 'fullDate' }}</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over each hour slot from 9 AM to 12 PM -->
        <tr *ngFor="let slot of timeSlots">
            <td class="border p-2">{{ slot.startTime }} - {{ slot.endTime }}</td>
            <!-- For each time slot, iterate over the days and mark booked or available -->
            <td
            *ngFor="let day of businessDays"
            class="border p-2 text-center cursor-pointer"
            [ngClass]="{
                'bg-red-200': isBooked(day, slot, doctorSchedule),
                'bg-white': !isBooked(day, slot, doctorSchedule) && !isBookedByCurrentUser(day, slot, doctorSchedule),
                'bg-green-200': isBookedByCurrentUser(day, slot, doctorSchedule),
            }"
            (click)="bookSlot(day, slot, doctorSchedule, isBooked(day, slot, doctorSchedule), isBookedByCurrentUser(day, slot, doctorSchedule))"
            >
            {{ isBooked(day, slot, doctorSchedule) || isBookedByCurrentUser(day, slot, doctorSchedule)? 'Booked' : 'Available' }} <span class="block font-medium" *ngIf="isBookedByCurrentUser(day, slot, doctorSchedule)">By you</span>
            </td>
        </tr>
        </tbody>
    </table>
</section>